button, .option-button{
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.navigate-button{
    background-color: #008CBA;
    padding: 10px 27px;
}

.delete-button{
    background-color: #f44336;
    width: 25px;
    height: 25px;
}

.back-button{
    background-color: #f44336;
    padding: 10px 27px;
}

.option-button{
    background-color: #4CAF50;
    padding: 10px 27px;
}