.page-tables {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3%;
}

.page__table {
  margin: 0 30px;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.page__table td {
  text-align: center;
  width: 15%;
}

.page__table th {
  height: 50px;
  background-color: lightblue;
  text-align: center;
  width: 15%;
}

.page__table tr {
  filter: none;
  border-bottom: 1px solid black;
}

.page__table tbody {
  height: 7vh;
}

.filter-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.filter{
  width: 40vw;
  display: flex;
  align-items: center;
}

#filter-title{
  width: 8vw;
  margin-top: 0;
}