.page-tables{
    display: flex;
    flex-direction: column;
}

.page__table{
    border-collapse: collapse;
}

.page__table th, td{
    text-align: center;
    width: 15%;
}

.page__table tr{
    border-bottom: 1px solid black;
}

.page__table tbody{
    height: 7vh;
}