.card-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.card-container img {
  filter: drop-shadow(0px 3px 3px rgba(126, 126, 126, 0.867));
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  border: 1.5px solid #dddd;
  border-radius: 10px;
  text-align: center;
  padding: 3%;
}

.card-container p {
  margin-bottom: 8px;
  filter: none;
}
