* {
    padding: 0;
    margin: 0;
}

.page, .page_get_user{
    font-family: 'Roboto Condensed', sans-serif;
}

.page-title, .options-title , .page-buttons{
    text-align: center;
}

.page-title{
    padding: 2%;
}

.page-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-button-container{
    margin: 0 3vw 2vh 3vw;
}